<div id="container">
  <div id="selectionItems">
    <input id="select" class="button" type="file" style="display: none;" (change)="onFileSelected($event)">
    <label for="select" class="button">
      <span id="filename">{{filename}}</span>
    </label>
    <button class="button" [disabled]="!selectedFile" (click)="readFile()">Leer</button>
  </div>

  <app-section *ngFor="let sec of sections" [seccion]="sec" [index]="sections.indexOf(sec)" ></app-section>
  <button id="add" (click)="agregarCategoria()">Nueva categoria</button>
  <a id="download"></a>
  <button id="descargar" [disabled]="!selectedFile" class="button" (click)="descargar()">Descargar</button>
</div>
